@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <HeadOutlet />
</head>
<body>
    <div id="app">
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <p role="alert">Sorry, there's nothing at this address.</p>
            </NotFound>
        </Router>
    </div>
    <script src="_framework/blazor.webassembly.js"></script>
</body>
</html>